extends layout

block content
  h1 Administrador de Bebidas Alcoholicas
  form(action="/bebidas", method="POST", name="BebidasForm")
    label(for="marca") Marca
    input(type="text", name="marca")
    label(for="tipo") Tipo de Alcohol
    input(type="text", name="tipo")
    label(for="annios") A単os de A単ejo
    input(type="number", name="annios")
    input(type="submit", value="Guardar")

  table
    thead
      th Id
      th Marca
      th Tipo de Alcohol
      th A単os de A単ejo
    tbody.bebidas
    script(src="/javascripts/main.js")

