extends layout

block content
  .container
    h1 Administrador de Bebidas Alcoholicas
    form(action="/api/BebidasAlcoholicas", method="POST", name="BebidasForm")
      .div
        label(for="marca") Marca:
        input(type="text", name="marca", required)
      .div
        label(for="tipo") Tipo de Alcohol:
        input(type="text", name="tipo", required)
      .div
        label(for="annios") A単os de A単ejo:
        input(type="number", name="annios", required)
      .div
        input(type="submit", value="Guardar", class="boton")
    table
      thead
        th Id
        th Marca
        th Tipo de Alcohol
        th A単os de A単ejo
      tbody.bebidas
      script(src="/javascripts/main.js")
